absl-py==1.0.0
altgraph==0.17.2
aniso8601==9.0.1
astunparse==1.6.3
cachetools==5.0.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.4
cycler==0.11.0
et-xmlfile==1.1.0
Flask==2.0.3
Flask-RESTful==0.3.9
flatbuffers==2.0
future==0.18.2
gast==0.5.3
google-pasta==0.2.0
grpcio==1.44.0
gunicorn==20.1.0
h5py==3.6.0
idna==3.3
inflection==0.5.1
itsdangerous==2.1.2
joblib==1.1.0
keras==2.8.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.2
kmodes==0.12.0
libclang==13.0.0
lxml==4.8.0
Markdown==3.3.6
MarkupSafe==2.1.1
more-itertools==8.13.0
mysql-connector-python==8.0.28
numpy==1.22.3
openpyxl==3.0.9
opt-einsum==3.3.0
packaging==21.3
patsy==0.5.2
pefile==2021.9.3
Pillow==9.0.1
protobuf==3.19.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyMsgBox==1.0.9
pyparsing==3.0.7
pyperclip==1.8.2
PyRect==0.2.0
PyScreeze==0.1.28
python-dateutil==2.8.2
pytweening==1.0.4
pytz==2022.1
requests==2.27.1
rsa==4.8
scipy==1.8.0
six==1.16.0
tenacity==8.0.1
threadpoolctl==3.1.0
typing_extensions==4.1.1
urllib3==1.26.9
Werkzeug==2.0.3
wrapt==1.14.0
xlrd==2.0.1
xlwings==0.27.4
